!---------------------------------------------------------------------------
! Xresource Set
!---------------------------------------------------------------------------
#include "/home/hertod/.urxvt/config/urxvt"
#include "/home/hertod/.urxvt/config/layout"
#include "/home/hertod/.urxvt/colors/nerd-theme"

